.inner-header {
  display:flex;
  justify-content: space-between;
  /* max-width: 1220px; */
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
strong {
  font-weight:bold;
}
.italic {
  font-family: proxima-regular;
  font-style: italic;
}
.caseSnippets {
  display:flex;
  justify-content: space-evenly;
  margin-bottom:100px;
}
.caseSnippet {
  width:30%;
  box-shadow:0 2px 15px #00000026;
}
.caseSnippet button {
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  justify-content: flex-start;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: rgb(255, 71, 0);
  min-width: 0;
  transition: color .2s ease;
  background: none;
  border: none;
  font-size: 16px;
  margin-top: 30px;
}
.caseSnippet > div {
  height: 250px;
  overflow: hidden;
}
.whatconfig {
  margin-bottom: 60px;
}
.configtable {
  display:flex;
  justify-content: space-evenly;
}
.table h3 {
  font-size: 35px;
  font-family: proxima-bold;
  margin: 25px 0 10px 0;
}
.table > div {
  border-bottom: 2px solid #000;
  background: #eee;
}
.table > div:nth-child(2) {
  padding: 10px 0;
}
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}
.table-row span:first-child {
  font-weight:normal;
}
.table-row span:last-child {
  font-weight:bold;
  color:navy;
}
.casetitle {
  text-align: center;
  font-family: 'proxima-bold';
  font-size: 35px;
  margin-bottom: 15px;
}
.whatconfig h3 {
  font-size:40px;
  font-family: proxima-bold;
}
.caseSnippet article {
  padding: 18px;
}
.caseSnippet article p {
  min-height: 80px;
}
.caseSnippet h3 {
  font-size: 24px;
  font-weight: bold;
  min-height:50px;
  margin-bottom: 12px;
}
.caseSnippet img {
  object-fit:cover;
  height:100%;
}
.green {
  color:rgb(109, 186, 73);
}

.main {
  background-color: #fff;
}

footer {
  padding-top:40px;
  border-top:1px solid rgba(0,0,0,0.23);
  margin-top:100px;
}
.footHome .logotop {
  margin-bottom: 45px;
}
footer p {
  font-size: 14px;
}
.prosCons p {
  margin-bottom: 10px;
  font-weight: bold;
}
.prosCons img {
  max-width: 35px;
  margin-right: 15px;
}

.prosCons ul {
  margin-bottom: 60px;
}

.prosCons li {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.main-inner-section h1 {
  font-size: 47px;
  text-align: center;
  font-family:proxima-bold;
  margin: 0;
  padding: 33px 0;
}

.header.home {
  position: unset;
}

.main-inner-section {
  width: 95%;
  max-width:1120px;
  margin: 0 auto;
}
.heroImages {
  display:flex;
  align-items: center;
  justify-content: center;
}

.heroImages > img:first-child, .heroImages > img:last-child {
  width: 330px;
}

.proscons {
  display:flex;
  justify-content: space-between;
  margin: 40px 0;
}

.proscons h2 {
  font-size: 36px;
  text-align: center;
  font-family:proxima-black;
}

.vs {
  width: 150px;
}

.proscons > div {
  width: 520px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 31px 0px #ddd;
  padding: 20px;
  background-color: #fff;
  box-sizing:border-box;
}

.proscons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.proscons li {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin: 20px 0;
}

.proscons img {
  margin-right: 19px;
  width: 35px;
}

.greenBtn img {
  width: 43px;
  margin-left: 17px;
  height: 26px;
}
.greenBtn {
  width: 640px;
  font-family:proxima-bold;
  font-size: 29px;
  background: rgba(109,186,73,1);
  color:#fff;
  height: 90px;
  display:flex;
  align-items:center;
  justify-content: center;
  margin: 0 auto;
  box-shadow:inset 0px 1px 0px #a7d392, inset 0 -1px 2px #4f8634;
  margin-bottom: 60px;
  cursor:pointer;
  font-style: italic;
}

.whatyouget h2 {
  text-align: center;
  font-size: 40px;
  font-family:proxima-bold;
  margin-bottom:30px;
}

.whatyouget h3 {
  font-family:proxima-bold;
  margin:30px 0;
}

.whatyouget p {
  line-height: 1.3;
}

.whatyouget > div > div{
  width: 300px;
  text-align: center;
}

.whatyouget h3 {
  font-size: 25px;
}

.whatyouget img {
  width: 90px;
  margin: 0 auto;
  display: block;
}

.whatyouget > div {
  display: flex;
  justify-content: space-between;
}

.whatyouget {
  padding-bottom: 70px;
}

.longSpeech {
  text-align:center;
  margin: 40px 0;
}

.longSpeech span {
  font-weight: bold;
}

.bottomImages1 {
  text-align:center;
}

.bottomImages1 > img {
  width: 100%;
}

.bottomimg1Txt {
  font-size: 20px;
  width: 375px;
  margin: -20px auto 0 auto;
}

.bottomimg2Txt {
  font-size:20px;
  width:364px;
  margin: -20px auto 30px auto;
}

.tothis {
  font-size:40px;
  margin: 60px 0 50px;
}

.regulation-links a {
  margin-right: 20px;
  text-decoration: underline;
} 
.regulation-links {
  padding-bottom: 40px;
  padding-top:25px;
}

.longSpeech h2 {
  font-size:40px;
  font-family:proxima-bold;
}
.config-cta {
  text-align: center;
  margin: 15px 0;
  font-size: 22px;
  font-family: 'proxima-bold';
}
.home-services {
  margin-bottom: 90px;
}
.home-services h3 {
  text-align: center;
  font-size: 30px;
  font-family: 'proxima-bold';
  padding-bottom: 30px;
}
.home-services ul {
  display:flex;
  flex-wrap: wrap;
}
.home-services li {
  width: 33%;
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
}

.longSpeech p {
  font-size:22px;
  margin: 12px 0;
  line-height:1.3;
}

.earnings-section {
  width: 95%;
  max-width: 1120px;
  margin: 0 auto;
}

.earnings-section p {
  padding: 20px 0;
}

.earnings-section .title {
  font-size: 40px;
  line-height:1;
  display:inline-block;
  margin-top:30px;
  background:#fff;
  color:#000;
}

.earnings-section h3 {
  font-weight: bold;
}

.about-section {
  border-top: 9px solid #000;
}

.about-section > h3 {
  text-align: center;
    margin: 50px 0;
    font-size: 50px;
    font-family: 'proxima-bold';
}

.aboutUsText {
  display: flex;
  align-items: center;
  padding: 0 44px;
  max-width: 1200px;
  margin: 0 auto;
}

.emailContainer form {
  display:flex;
  flex-direction:column;
}

.hero-half.articles {
  text-align: center;
}
.hero-half.articles p {
  text-align: center;
  margin: 0 auto;
}

.hero-half .inner-hero {
  flex-direction: column;
  max-width: 1300px;
}

.hero-half h1 {
  margin-bottom: 10px;
  font-family: proxima-bold;
  font-size:53px;
}
.widths {
  max-width: 1300px;
  width:90%;
  margin: 0 auto;
}
.ownerTitle {
  display: flex;
  align-items: center;
}
.ownerTitle {
  font-weight:bold;
  font-size:22px;
}
.ownerTitle span:last-child {
  margin-left: 10px;
}
.team h2 {
  font-family: proxima-bold;
}
.team h3 {
  font-size: 25px;
    font-family: 'proxima-bold';
    margin-bottom: 25px;
    margin-top: 10px;
}
.techstack > div:last-child {
  display: flex;
  flex-wrap:wrap;
}
.techstack > div:last-child span {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.techstack > div:last-child img {
  max-width: 120px;
  width: 100%;
}
#react-maxW {
  max-width: 82px;
}
.varyBlack {
  background:#000;
  color:#fff;
  margin:0px 0 0;
}
.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team > img {
  width: 50%;
}
.team > div {
  width: 50%;
  margin-left:25px;
}
.hero-half p {
  max-width:650px;
  font-weight: bold;
  font-size: 27px;
}
.introduction > div:first-child {
  display:flex;
  align-items:center;
  width: 25%;
}
.introduction > div:last-child {
  width: 75%;
}
.introduction > div:first-child > span:last-child {
  margin-left: 10px;
  font-size: 22px;
  font-family: proxima-bold;
}
.introduction {
  max-width: 1300px;
  width: 90%;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  padding: 80px 0;
}

.section-header {
  background: linear-gradient(90deg, #7ce0ff 16%, #87e2e2 26%, #a4e997 48%, #d0f224 79%);
    padding-top: 150px;
    padding-bottom: 80px;
}
.hero-half {
  background: linear-gradient(90deg, #7ce0ff 16%, #87e2e2 26%, #a4e997 48%, #d0f224 79%);
    padding-top: 150px;
    padding-bottom: 80px;
}
.sectioned-split {
  display: flex;
  flex-direction: column;
  position:relative;
  justify-content: flex-end;
  margin: 50px;
  overflow: hidden;
}
.section-choice {
  display: flex;
  justify-content: space-between;
  /* height: calc(100vh - 317px); */
}
.sectioned-split h3 {
  font-size: 25px;
  font-family: proxima-bold;
  margin-bottom: 20px;
}
.sectioned-split img {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 20vw;
    object-fit: cover;
    /* opacity: 0.1; */
    margin-bottom: 50px;
}
.email-techstack > div > div {
  display:flex;
  align-items:Center;
  margin-bottom: 25px;
}
.email-techstack > div > div span:last-child {
  font-size:25px;
  font-family: proxima-bold;
  margin-left:20px;
}
.email-techstack {
  display:flex;
  align-items:center;
  margin-bottom: 60px;
}
.email-market-price .price-item {
  width:29%;
}
.email-market-price .sizes h3.active {
  opacity:1;
}
.email-market-price {
  margin: 80px auto;
}
.email-market-price .pricingStructure h2 {
  font-size: 25px;
}
.email-techstack.normal {
  margin-bottom: 0px;
  padding-top:40px;
}
.email-techstack p {
  max-width: 300px;
}
.email-info-box {
  background: #000;
  margin-bottom:20px;
  color: #fff;
  padding: 20px 50px;
  box-sizing: border-box;
  display:flex;
  align-items:center;
}
.service-spacing.email {
  display:none;
}
.service-spacing.email.active {
  display:flex;
}
.service-spacing.development {
  display:none;
}
.service-spacing.development.active {
  display:flex;
}
.threepoints > div {
  margin-bottom:30px;
  display:flex;
}
.service-cat {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  align-items: center;
}
.ll {
  font-size: 60px;
  font-family: proxima-thin;
  color:rgb(255, 71, 0);
  text-decoration: none !important;
  cursor: none !important;
}
.service-cat li {
  margin: 0 20px;
  cursor:pointer;
  text-decoration: underline;
}
.dwnarrow {
  max-width: 12px;
  display: block;
  margin: 20px auto;
}
.threepoints h3 {
  text-align: center;
  font-family: 'proxima-bold';
  font-size: 35px;
}
.threepoints h2 {
  width:33%;
  line-height:1.3;
  font-weight:bold;
  font-size:25px;
}
.threepoints p {
  width:66%;
  box-sizing: border-box;
  padding-left:50px;
}
.email-info-box p {
  line-height: 1.5;
  padding-right:80px;
}
.email-info-box img {
  max-width: 215px;
}
.email-info-box img.group22 {
  max-width:130px;
}
.email-info-box img.group33 {
  max-width:188px;
}

.serviceItem {
  width: 31%;
  box-sizing: border-box;
  padding: 20px;
  border:5px solid transparent;
  box-shadow: 0 2px 15px #00000026;
  display:flex;
  flex-direction: column;
  background-clip: padding-box;
  background: #fff;
  position:Relative;
  margin-bottom: 35px;
  
}
.serviceItem:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -8px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(to right, red, purple);;
  z-index:-1;
}
.emailLogos {
  max-width: 800px;
  margin: 36px auto 0px;
  display: block;
}
.navBtn {
  font-family: 'proxima-bold';
  font-size: 18px;
  background: transparent;
  border: none;
  cursor:pointer;
}
.intro-services {
  margin-top:50px;
}
.intro-services h2 {
  margin-bottom: 15px;
}
.topserviced {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.topserviced > div {
  box-sizing: border-box;
}
.topserviced > div:nth-child(odd) {
  padding-right:65px;
  border-right: 1px solid #ddd;
}
.topserviced > div:nth-child(even) {
  padding-left:65px;
}
.sectioned {
  width: 50%;
  padding-bottom: 40px;
}
.sectioned p {
  margin-bottom: 10px;
}
.dev-services {
  margin: 90px auto 50px auto;
}
.dev-services > p {
  max-width: 600px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(116, 116, 116);
}
.serviceItem h3 {
  font-size: 20px;
  line-height: 1.2;
  font-family: 'proxima-bold';
  margin-bottom: 8px;
}
.dev-services h2 {
  font-size:50px;
  font-family: proxima-bold;
  margin-bottom: 15px;
}
.sectioned h3 {
  font-family: proxima-regular;
  font-size: 33px;
  font-weight: bold;
}
.sectioned > div:first-child {
  margin: 20px 0;
}
.sectioned > div:last-child {
  margin: 20px 0;
}
.service-spacing {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.serviceItem p {
  font-size:20px;
  margin-bottom:22px;
}
.serviceItem .bottomBar {
  display:flex;
  justify-content: space-between;
  margin-bottom:20px;
}
.serviceItem .arrows {
  margin-right:12px;
  display: flex;
  align-items: center;
}
.serviceItem svg {
  width:17px;
}
.serviceItem button {
  background: #fff;
  outline: none;
  padding: 7px 50px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: Center;
  margin-top: auto;
  width: 200px;
}
.serviceItem .bottomBar > div {
  display: flex;
  flex-direction: column;
}
.serviceItem .bottomBar > div span:first-child {
  font-weight: bold;
    padding-bottom: 6px;
    font-size: 15px;
}
.serviceItem .bottomBar > div span:last-child {
  font-size: 22px;
}
.casestudy h2 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'proxima-bold';
}
.featured img {
  max-width: 900px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 0px 23px 0px #ccc;
}
.intro-text-case {
  font-size: 25px;
  line-height: 1.6;
}
.section-choice > div {
  width: 50%;
}
.seemoreLink {
  margin-top:30px;
}
.sectioned-message {
  max-width: 370px;
  line-height: 1.2;
  font-size: 22px;
}
.section-header p {
  text-align: center;
  font-size: 38px;
  max-width: 1300px;
  margin: 0 auto;
  line-height: 1.2;
  font-family: proxima-bold;
  width: 90%;
}
.section-header.lander2 p {
  max-width: 1000px;
} 
.page-title {
  margin-top: 95px;
  padding-top: 90px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.contact-container {
  min-height: calc(100vh - 100px);
  padding-top:50px;
}

.specialBk {
  font-weight:bold;
  border-radius: 5px;
  border:none;
  text-transform:uppercase;
  background: linear-gradient(90deg, #7ce0ff 16%, #87e2e2 26%, #a4e997 48%, #d0f224 79%);
}

.footHome {
  max-width: 90%;
  margin: 100px auto 0 auto;
  border-top: 1px solid #000;
}

.inner-footer {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}
.emailContainer label {
  font-size: 16px;
}
.contact-container > div {
  max-width: 450px;
  width:95%;
    margin: 0 auto;
    line-height: 1.2;
}
.footer-custom-contact .footHome{
  background:#fff;
  color:#000;
  margin-top: unset;
  border-top:unset;
}
.contact-container {
  background:#000;
  color:#fff;
}
.contact-container.contactShopify .normInp {
  color:#fff;
  margin-bottom:20px;
  background:#272727;
  border-bottom:1px solid #afafaf;
}
.contact-container.contactShopify {
  background:#000;
  color:#fff;
  padding-top:0;
}
.contact-container.contactShopify textarea {
  border: 1px solid #afafaf;
}
.normInp {
  padding: 10px;
    font-size: 18px;
    outline: none;
    color:#fff;
    background:#272727;
    appearance: auto;
    border: none;
    border-bottom: 1px solid #afafaf;
}

.contactShopify form {
  display: flex;
  flex-direction: row;
}
.contact-container.contactShopify .emailContainer {
  max-width: unset;
}

.contactShopify form > div:first-child {
  width: 34%;
  text-align: right;
  padding-right: 8%;
  box-sizing: border-box;
  font-size: 25px;
  font-weight:bold;
}

.logotop img {
  max-width:140px;
}
.footHome .logotop img {
  max-width: 150px;
}
.contactShopify form > div:nth-child(2), .contactShopify form > div:last-child {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  box-sizing: border-box;
}

.emailContainer textarea {
  resize: none;
  height: 103px;
  border: 1px solid #afafaf;
  background: #272727;
  margin-top: 8px;
  color: #fff;
  font-family: 'proxima-regular';
  font-size: 18px;
  padding: 7px;
}

.emailContainer {
  padding-top: 50px;
    margin-bottom: 60px;
    text-align: left;
}

.emailContainer input[type="submit"] {
  margin-top: 40px;
  padding: 15px 0;
  /* text-transform: uppercase; */
  font-size: 18px;
  letter-spacing: 1px;
}

.aboutUsText > img {
  max-width: 34%;
}

.aboutUsText .msgBox {
  padding-left:100px;
}

.aboutUsText.alt {
  flex-direction: row-reverse;
}

.aboutUsText h3 {
  font-size: 35px;
  font-weight: bold;
  max-width: 450px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.aboutUsText.alt .msgBox {
  padding-right: 100px;
  padding-left: 0;
}

.aboutUsText p {
  font-size: 22px;
  line-height: 1.3;
}

@media screen and (max-width:1050px) {
  .bcgs {
    max-width: 90%;
  }
  .bcgs h2 {
    font-size: 65px;
  }
}

@media screen and (max-width:900px) {
  .email-techstack {
    flex-direction: column;
  }
  .section-choice {
    flex-direction: column;
    height: unset;
  }
  .contactShopify form > div:first-child {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    padding-right: unset;
  }
  .contactShopify form > div:nth-child(2), .contactShopify form > div:last-child {
    padding-right: unset;
    width: 100%;
  }
  .threepoints h2 {
    width:100%;
  }
  .threepoints p {
    padding-top: 20px;
    padding-left:0;
    width:100%;
  }
  .threepoints > div {
    flex-direction:column;
  }
  .email-market-price .price-item {
    width:100%;
    margin: 20px 0;
  }
  .email-info-box p {
    padding-right: unset;
  }
  .email-info-box {
    flex-direction: column;
  }
  .contactShopify form {
    flex-direction: column;
    padding: 0 16px;
  }
  .prosCons p {
    font-size: 20px;
  }
  .prosCons li {
    font-size: 18px;
  }
  .longSpeech h2 {
    font-size: 32px;
  }
  .whatyouget h2 {
    font-size: 32px;
  }
  .longSpeech p {
    font-size: 18px;
  }
  .section-header p {
    font-size: 32px;
  }
  .section-choice > div {
    width: unset;
  }
  .sectioned-split {
    margin: 30px;
  }
  .inner-header {
    padding: 0;
    width: 90%;
  }
  .mobnav > div {
    background:#fff;
  }
  .mobnav.is-active > div {
    background: #fff;
  }
}

@media screen and (max-width:600px) {
  .logotop img {
    max-width: 120px;
  }
  .whychoose-section > img {
    max-width:200px !important;
  }
  .whychoose-section h2 {
    margin: 55px auto 35px !important;
    font-size: 27px !important;
  }
  .whychoose-section {
    padding: 60px 0;
  }
  .whychoose-section li {
    font-size: 18px !important;
  }
  .bcgs {
    max-width: 100%;
    margin-left: 0;
  }
  .bcgs h2 {
    font-size: 47px;
  }
  .landing {
    flex-direction:column;
    height: unset;
    min-height:calc(100vh - 18px);
  }
  .choice-panel {
    position:unset;
    border-bottom:3px solid #000;
    width:320px;
  }
}

@media screen and (max-width:840px) {
  .introduction {
    flex-direction:column;
    padding: 40px 0;
  }
  .team {
    flex-direction: column;
  }
  .team > img {
    width:100%;
  }
  .team > div {
    width: 100%;
    margin-left: 0;
  }
  .serviceItem {
    width: 100%;
  }
  .techstack > div:last-child span {
    width:33%;
  }
  .techstack > div:last-child img {
    max-width: 80px;
  }
  .ownerTitle {
    margin-bottom:20px;
  }
  .introduction > div:first-child {
    margin-bottom: 20px;
  }
  .introduction > div:last-child {
    width:100%;
  }
  .bucket h2 {
    font-size:30px;
  }
  .home-services h3 {
    font-size:22px;
  }
  .config-cta {
    margin: 15px auto;
    width: 90%;
  }
  .caseSnippet h3 {
    min-height: unset;
  }
  .caseSnippet article p {
    min-height: unset;
  }
  .caseSnippets {
    flex-direction: column;
  }
  .caseSnippet button {
    margin-top:15px;
  }
  .caseSnippet {
    width:100%;
  }
  .casetitle {
    font-size:30px;
  }
  .configtable {
    justify-content: space-between;
  }
  .configtable > div {
    width: 45%;
  }
  .table-row {
    font-size: 14px;
  }
  .table > div:nth-child(2) {
    font-size:14px;
  }
  body .table h3 {
    font-size: 24px;
  }
  .whatconfig h3 {
    font-size:30px;
  }
  .right-bucket p:last-child {
    font-size: 19px;
  }
  .left-bucket {
    padding-right:20px;
  }
  .right-bucket {
    padding-left:20px;
  }
  .main-inner-section h1 {
    font-size:30px;
  }
  .heroImages > img:first-child, .heroImages > img:last-child {
    width:153px;
  }
  .vs {
    width:76px;
  }
  .proscons > div {
    width: 95%;
    margin: 0 auto;
  }
  .proscons {
    flex-direction: column;
  }
  .proscons h2 {
    font-size:31px;
  }
  .proscons li {
    font-size:20px;
  }
  .greenBtn {
    width:95%;
    font-size:21px;
  }
  .whatyouget img {
    width:84px;
  }
  .whatyouget > div {
    flex-direction: column;
    align-items:Center;
  }
  .whatyouget > div > div {
    margin-bottom:20px;
  }
  .bottomimg1Txt {
    margin:unset;
  }
  .bottomimg2Txt {
    margin: 0 auto 30px auto;
  }
}